In [4]:

def salary_amt(base_salary, rate, years): 
    salary_ten = base_salary
    inc = base_salary*rate
    print("yearly salary increase by:", base_salary*rate)
    for i in range(years+1):
        print(f"At year {i}, salary is {salary_ten}")
        salary_ten += inc

salary_amt(115000, 0.03, 10)

yearly salary increase by: 3450.0
At year 0, salary is 115000
At year 1, salary is 118450.0
At year 2, salary is 121900.0
At year 3, salary is 125350.0
At year 4, salary is 128800.0
At year 5, salary is 132250.0
At year 6, salary is 135700.0
At year 7, salary is 139150.0
At year 8, salary is 142600.0
At year 9, salary is 146050.0
At year 10, salary is 149500.0